{% extends 'base.html.twig' %}

{% block title %}SymRecipe - Accueil{% endblock %}

{% block body %}
    <div class="container">
        
        <h2>Page d'accueil</h2>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">{{ message }}</div>
            {% endfor %}
        {% endfor %}

        {% if app.user == null %}        
            <p>
                Symrecipe est une application qui permet de créer des recettes à base d'ingrédients que l'on pourra créer et ces recettes pourront être partagé à la communauté
            </p>

            <hr>

            <p>Pour commencer veuillez cliquez sur le bouton ci-dessous</p>

            <a href="{{ path('security.register') }}"><button class="btn btn-warning">Inscription</button></a>
            
            <p>Déjà inscrit ? Cliquez ici</p>

            <a href="{{ path('security.login') }}"><button class="btn btn-warning">Connexion</button></a>
        {% endif %}

        <hr>

        <legend class="my-4">Dernière(s) recettes ajoutée(s)</legend>

        <div class="d-flex flex-wrap justify-content-between">           
            {% for recipe in recipes %}
                
                {% if app.user  %}
                <a href="{{ path('recipe.show', {id: recipe.id}) }}">   {# If connected User #}        
                {% else %}
                <a href="{{ path('recipe.show.public', {id: recipe.id}) }}">    {# If anonymous User #}        
                {% endif %}
                
                <div class="card border-success mb-3 text-dark recipes" style="max-width: 20rem; max-height:15rem; overflow:hidden">
                    {% if app.user and app.user.id == recipe.user.id  %}
                    <div class="card-header bg-primary text-white">Ma recette</div>
                    {% else %}
                    <div class="card-header">Auteur : {{ recipe.user.fullName }}</div>
                    {% endif %}
                    
                    <div class="card-body">
                        <h5 class="card-title">{{ recipe.name|capitalize }}</h5>
                        <p class="card-text">{{ recipe.instructions|slice(0,100) ~ "..." }}</p>
                    </div>
                </div>
                </a>
            {% endfor %}
        </div>

    </div>
{% endblock %}
