{% extends 'base.html.twig' %}

{% block title %}Symrecipe - Modifier une recette{% endblock %}

{% block body %}
    <div class="container">
        <h2>Modification d'une recette</h2>
        <p><u>Nom de la recette : {{ recipe.name }}</u></p>
        
        {{ form_start(form) }}

            <div class="form-group">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
                <div class="form-error text-danger">
                    {{ form_errors(form.name) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.price) }}
                {{ form_widget(form.price) }}
                <div class="form-error text-danger">
                    {{ form_errors(form.price) }}
                </div>
            </div>
            
            <div class="form-group">
                {{ form_label(form.time) }}
                {{ form_widget(form.time) }}
                <div class="form-error text-danger">
                    {{ form_errors(form.time) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.nbPerson) }}
                {{ form_widget(form.nbPerson) }}
                <div class="form-error text-danger">
                    {{ form_errors(form.nbPerson) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.difficulty) }}
                {{ form_widget(form.difficulty) }}
                <div class="form-error text-danger">
                    {{ form_errors(form.difficulty) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.instructions) }}
                {{ form_widget(form.instructions) }}
                <div class="form-error text-danger">
                    {{ form_errors(form.instructions) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.bookmark) }}
                {{ form_widget(form.bookmark) }}
                <div class="form-error text-danger">
                    {{ form_errors(form.bookmark) }}
                </div>
            </div>

            {{ form_row(form.ingredientsList)}}

            <div class="form-group d-flex justify-content-end">
                {{ form_row(form.submit) }}
            </div>
        {{ form_end(form) }}

    </div>
{% endblock %}