{% extends 'base.html.twig' %}

{% block title %}Symrecipe - Recettes{% endblock %}

{% block body %}
    <div class="container-fluid">

        {% if not recipeList is same as ([]) %}

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">{{ message }}</div>
                {% endfor %}
            {% endfor %}

            <h2>
                Listes des recettes

                <small class="count ml-3">
                    Nombre de recette(s) : {{ recipeList.getTotalItemCount }}
                </small>
            </h2>

            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Appellation</th>
                        <th>Temps</th>
                        <th>Nb personne(s)</th>
                        <th>Difficulté</th>
                        {# <th>Instructions</th>
                        <th>Ingrédients</th> #}
                        <th>Favoris</th>
                        <th>Prix</th>
                        <th>Date de création</th>
                        <th>Date de modification</th>                          
                        <th>Consulter</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                        <th>Partager</th>
                        <th>Statut</th>
                        <th>Note</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recipe in recipeList %}
                        <tr>              
                            <td>{{ recipe.id }}</td>
                            <td>{{ recipe.name }}</td>
                            <td>{{ recipe.time|min_to_hour }}</td>
                            <td>{{ recipe.nbPerson }}</td>
                            <td>{{ recipe.difficulty }}</td>
                            {# <td><a href="#" class="btn btn-warning">Instructions</a></td>
                            <td><a href="#" class="btn btn-warning">Ingrédients</a></td> #}
                            {% if recipe.bookmark == 1 %}
                                <td>O</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td>{{ recipe.price|number_format(2) }}</td>
                            <td>{{ recipe.createdAt|date('d/m/Y') }}</td>
                            <td>{{ recipe.updatedAt|date('d/m/Y') }}</td>
                            <td>
                                <a href="{{ path('recipe.show' , {id: recipe.id}) }}" class="btn btn-primary">Consulter</a>
                            </td>
                            <td>
                                <a href="{{ path('recipe.edit' , {id: recipe.id}) }}" class="btn btn-info">Modifier</a>
                            </td>
                            <td>
                                <a href="{{ path('recipe.delete' , {id: recipe.id}) }}" class="btn btn-danger">Supprimer</a>
                            </td>
                            <td>
                                <a href="{{ path('recipe.toggle.public' , {id: recipe.id}) }}" class="btn btn-warning">Partager</a>
                            </td>
                            <td>
                                {{ recipe.isPublic == 1 ? "Partagée" : "Non partagée" }}
                            </td>
                            <td>
                                {{ recipe.average|number_format(1) }} / 5
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="pagination d-flex justify-content-end">
                {{ knp_pagination_render(recipeList) }}
            </div>

        {% else %}
            <h4 class="mt-4">Pas d'ingrédients</h4>
        {% endif %}
    </div>
{% endblock %}
